* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(25, 68, 25);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
#wrap {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  background-color: rgb(226, 224, 200);
}
#header {
  background-color: rgb(202, 235, 202);
  text-align: right;
  padding: 30px;
}
#nav {
  padding: 20px;
  background-color: rgba(27, 158, 27, 0.788);
  border-bottom: 5px dashed whitesmoke;
}
#nav ul {
  display: flex;
  justify-content: space-around;
}
#nav ul li {
  list-style: none;
}
#nav ul li a {
  text-decoration: none;
}
#sidebar {
  float: right;
  width: 20%;
  box-sizing: border-box;
  padding: 20px;
}
ul li {
  list-style: none;
}
#content {
  background-color: rgba(11, 70, 11, 0.582);

  padding: 20px;
  width: 75%;
}
#content h1 {
  padding-bottom: 20px;
}

#footer {
  clear: both;
  padding: 20px;
  background-color: rgba(27, 158, 27, 0.788);
}
