* {
  margin: 0 auto;
  padding: 0;
  width: 98%;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Fatma-h1';
  src: local('Poller One'), local('PollerOne-Regular'),
    url(https://fonts.gstatic.com/s/pollerone/v9/ahccv82n0TN3gia5E4BuR-5RgA.woff2)
      format('woff2');
}
@font-face {
  font-family: 'Fatma-h2';
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v8/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2) format('woff2');

      format('woff2');
}
@font-face {
  font-family: 'Fatma-p';
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');
}
main {
  background-color: rgb(218, 236, 253);
  border-radius: 10px;
  box-shadow: 0px 2px 4px 4px rgb(1, 1, 70);

}

img {
  width: 98%;
  margin: 1%;
}
header {
  height: 120px;
  width: 98%;
  background-image: url(./images/background.jpg);
  margin: 0% 1% 0 1%;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgb(1, 1, 70);
}
h1 {
  margin: .5% 2% 0% 2%;
  text-align: center;
  font-family: Fatma-h1;
  width: 100%;
  padding: 3% 2%;
  color: white;
  font-size: 45px;
  text-shadow: 0px 5px 7px rgb(3, 4, 80);
  
  
}
h2 {
  font-family: Fatma-h2;
  font-weight: 900;
  font-size: 2em;
  width: 100%;
  margin: .3% auto;
  text-align: center;
  padding: 4% 4% 2%;
  text-shadow: 0px 5px 7px white; 
}
/*#grid-floats {
  
  margin: 0 20px;
 
}*/


#grid-floats .grid-item {
  float: left;
  list-style: none;
  border: 2px solid transparent;
  padding: 1%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgb(1, 1, 70);
}
#grid-floats .grid-item:hover {
  background-color: rgb(9, 44, 139);
  color: rgb(241, 233, 233);
  font-size: 40px;
  transition: .6s;
}
h3 {
  padding: 10px 10px;
  font-family: Fatma-h2;
  font-weight: 700;
  text-shadow: 0px 5px 9px rgb(1, 1, 70);
  text-align: center;
  font-size: 20px;
}
p {
  width: 85%;
  padding: 10px;
  text-align: justify;
  font-family: Fatma-p, cursive;
  font-size: 17px;
}

 /* Grid with flex-box */
 section:nth-child(2) h2{
   color: rgb(6, 6, 138);
   clear: both;
  
 }
 #grid-flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding-bottom: 30px;
   margin-bottom: .5%;
   
   
 }
 
 #grid-flex .grid-item {
   padding-top: 1%;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 20px;
   list-style: none;
   border: 2px solid transparent;
   background-color: white;
   border-radius: 30px;
   box-shadow: 0px 2px 4px rgb(1, 1, 70);
   flex-grow: 1;
   margin: 2% 1%;
 }
 #grid-flex .grid-item:hover {
  background-color: rgb(9, 44, 139);
  color: rgb(241, 233, 233);
  font-size: 40px;
  transition: .6s;
}

/*--Making flex responsive--*/

/* Responsiveness for mobile phone*/
@media (max-width: 600px) {
  #grid-floats .grid-item {
    min-width: 95%;
    float: none;
    clear: both;
    min-height: 200px;
    margin: 4% 1%;
  }

  #grid-floats .grid-item:nth-child(3) {
    height: 550px;
  }
  #grid-floats .grid-item:nth-child(10) {
    min-height: 550px;  
  }
 
}
/* Responsiveness for mobile finish */

/* Making website responsive for tablet*/
@media (min-width: 601px) {
#grid-floats .grid-item {
  width: 31%;
  margin: 2% 1%;
  height: 580px;
}

#grid-floats .grid-item:nth-child(1) {
  width: 45%;
  margin: 2% 2.2%;
  height: 550px; 
 
}
#grid-floats .grid-item:nth-child(2) {
  width: 45.5%;
  margin: 2% 2.1%;
  height: 550px;
   
}


#grid-flex .grid-item {
  margin: 2% 1%; 
  width: 200px; 
}

}
/* Making website responsive for Desktop > 1024*/
@media (min-width: 1024px) {
  #grid-floats .grid-item {
  width: 265px;
  float: left;
  margin: 30px 10px 30px 10px;
  height: 570px;
}
 #grid-flex .grid-item {
   width: 220px;
   margin: 30px 10px;
   padding: 1%;
  
 }
}

